
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   
   background-color:grey;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.contenedor {
   width: 85vw;
   height: auto;
   margin: auto;
   display: grid;
   background-color: #E2725B;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-areas: "header header header header"
                        "menu menu menu menu"
                        "section section section aside"
                        "section section section aside"
                        "slider slider slider slider"
                        "footer footer footer footer";
}                        
.contenedor .header {
   grid-area: header;
   width: auto;
   height: 150px;
   background-image: url(/Imagenes/terracota.jpg);
   opacity: 0.8;
   background-repeat: repeat;
   background-size:contain;
   object-fit: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   text-transform: uppercase;
}
.contenedor .menu {
   grid-area: menu;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(25, 25, 26);
}
.contenedor .menu a {

   text-decoration: none;
   text-transform: uppercase;
   font-size: 20px;
   color: whitesmoke;
   margin: 15px;
}
.menu a:hover {
   background-color: #E2725B;
   padding: 5px;
   transition: 0.5s;
}
.contenedor .section {
   width: 100%;
   height: 100%;
   grid-area: section;
   display: flex;
   justify-content: space-around;
}
.contenedor .section img {
   width: 95%;
   height: 300px;
   margin-top: 20px;
   border-radius: 5px;
   display: flex;
   justify-content:center;
   object-fit: cover;
   opacity: 1;
}
.imagen {
   width: 100%;
   position: relative;
   overflow: hidden;
   display: flex;
   flex-direction:column;
   align-items: center;
   justify-content: center;
}

.imagen p {
   display: flex;
   text-align:justify;
   align-items: center;
   left: 250px;
   padding: 5px;
   margin: 10px;
   color: white;
   position: absolute;
}
.imagen a {
   text-decoration: none;
   border: 2px solid whitesmoke;
   color: whitesmoke;
   padding: 3px;
   position: absolute;
   margin-top: 350px;
   
}
.imagen:hover img {
   opacity: 0.5;
}
.imagen:hover p {
   left: 0;
   transition: ease-in-out 0.8s;
}
.imagen:hover a {
   margin-top: 270px;
   transition: ease-in-out 0.8s; 
}

.imagen:hover {
   transform: scale(1.1);
   transition: ease 0.8s;
}
.contenedor .aside {
   grid-area: aside;
   width: 70%;
   margin-top: 10px;
   margin-left: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   border-radius: 5px;
   background-color: rgb(25, 25, 26);
   color: whitesmoke;
}
.contenedor .aside h2 {
   margin-bottom: 30px;
   font-size: 25px;
}
.contenedor .aside p {
   text-align: center;
}

.contenedor .aside img {
   width: 40px;
   margin: 10px;
}


.contenedor .aside img {
   width: 40px;
   margin: 10px;
}

.contenedor .slider {
   grid-area: slider;
   width: 80%;
   height: 500px;
   margin: auto;
   margin-top: 15px;
   background: url(/imagenes/imagen5.jpg);
   animation: slider 20s infinite alternate-reverse;
}
.contenedor .slider h2 {
   display: flex;
   justify-content: center;
  margin-top: 250px;
}

@keyframes slider {

   25% { background: url(../imagenes/imagen2.jpg);}

   50% { background: url(../imagenes/imagen3.jpg);}

   75% { background: url(../imagenes/imagen4.jpg);}

   100% { background: url(../imagenes/imagen5.jpg);}

}

.contenedor .footer {
   grid-area: footer;
   width: 100%;
   height: 100px;
   margin-top: 50px;
   display:flex;
   justify-content:space-around;
   align-items: center;
   background-color: rgb(25, 25, 26);
   color:whitesmoke;
}
.footer .iconos {
   width: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.footer .iconos img {
   width: 40px;
   margin: 20px;
}
.footer .androide img {
   width: 30px;
   display: flex;
}
.footer h2 {
   margin: 20px;
}

@media (max-width:368px){
   .contenedor {
      grid-template-areas: "header"
                            "menu"
                            "section"
                            "aside"
                            "slider"
                            "footer";
   }
   .contenedor .aside{
      width: 100%;
      margin: auto;
      text-align: center;
   }
   .footer h2 {
      margin: 10px;
      font-size: 15px;
      text-align: center;
   }
   .footer .androide img {
      display: none;
   }
   .copy {
      text-align: center;
   }

}
